<div class="container">
  <ng-container *ngIf="listOfUsers">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>EMAIL</th>
          <th>PASSWORD</th>
          <th>ROLE</th>
          <th>
            <a class="btn btn-success" (click)="onCreateUser()"
              >ajouter utilisateur</a
            >
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of listOfUsers">
          <td>{{ user.id }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.role }}</td>
          <td>
            <button class="btn btn-primary" (click)="onModifyUser(user.id)">
              modifier
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="onDeleteUser(user.id)">
              effacer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
