<div class="login-container">
  <h2>Connexion</h2>
  <form [formGroup]="myLoginForm" (ngSubmit)="onSubmit(myLoginForm)">
    <div class="form-group">
      <label class="control-label">Email : </label>
      <input type="email" formControlName="email" class="form-control" />

      <label class="control-label">Mot de passe : </label>
      <input type="password" formControlName="password" class="form-control" />
    </div>

    <button
      type="submit"
      [disabled]="myLoginForm.invalid"
      class="btn btn-primary"
    >
      Se connecter
    </button>
  </form>
</div>
